extends base.pug

block content
    h4 Change Title of Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(value="Save",type="submit")